<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="用户管理系统测试套件">
    <test name="用户管理系统测试用例">
        <classes>
            <class name="com.muke.cases.LoginTest">
                <methods>
                    <include name ="LoginTrue"/>
                    <include name="LoginFalse"/>
                </methods>
            </class>
            <class name="com.muke.cases.AddUserCase"/>
            <class name = "com.muke.cases.GetUserInfoCase"/>
            <class name = "com.muke.cases.GetUserListCase"/>
            <class name="com.muke.cases.UpdateUserInfoCase">
                <methods>
                    <include name="updateUserInfoTest"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
        </classes>

    </test>
    <listeners>
        <listener class-name="com.muke.config.ExtentTestNGIReporterListener"></listener>
    </listeners>

</suite>